#header-main {
    font-weight: bold;
    margin-left: 14px;
    margin-right: 8px;
    font-size: 23px;
    vertical-align: -2px;
}
#header-secondary {
    font-size: 17px;
}
#header-main, #header-secondary, a {
    font-family: Open Sans, sans-serif;
    color: #CCCCCC;
    text-decoration: none;
}
body {
    margin: 0px;
}
#navigation {
    background-color: #333333;
    margin-top: 12px;
    padding: 12px 0px 12px 50px;
}
#logo a {
    border: none;
}
#logo {
    vertical-align: -10px;
}
