body {
	margin: 0px;
	background-color: #e5e5e5;
}
a {
	text-decoration: none;
}
/* Navigation Bar Styles */
#navigation {
	padding: 10px 0px 10px 50px;
	background-color: #FFFFFF;
	overflow: hidden;
	z-index: 9999;
}
#logo a {
	border: none;
}
#logo {
	margin-top: 6px;
	vertical-align: -5px;
}
#header-main {
	font-weight: bold;
	margin-left: 10px;
	margin-right: 8px;
	font-size: 23px;
	vertical-align: -1px;
}
#header-secondary {
	font-size: 17px;
}
#header-main, #header-secondary, #nav-main {
	font-family: Open Sans, sans-serif;
	color: #333333;
	text-decoration: none;
}
#nav-main {
	color: #535353;
	display: inline-block;
	float: right;
	margin-right: 30px;
}
.navlink {
	color: #535353;
	transition: color 0.2s;;
}
.navlink:hover {
	color: #0f0f0f;
}
.menuitem {
	height: 100%;
	display: inline-block;
	padding: 12px 10px 12px 10px;
}
/* Main Body Styles */
#header {
	margin: 20px 0px 15px 0px;
	font-family: Open Sans, sans-serif;
	text-align: center;
	color: #454545;
	font-size: 60px;
}
#content {
	margin: auto;
	width: 70%;
}
.contentp {
	color: #393939;
	font-family: Source Sans Pro, serif;
	font-size: 27px;
	line-height: 200%;
	margin: 0px 0px 20px 0px;
	text-indent: 20px;
}
.headerp {
	margin: 20px 0px 10px 0px;
	font-weight: bold;
	color: #212121;
	font-family: Source Sans Pro, serif;
	font-size: 27px;
	text-indent: 20px;
}
#supercurtain {
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 10000;
	background-color: #e5e5e5;
	opacity: 1;
	transition: opacity 1s;
}
